@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

header {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}

header h1 {
    font-weight: 400;
    font-size: 47px;
    letter-spacing: 5px;
    padding-bottom: 45px;
    text-transform: uppercase;
    margin-top: 20px;
    overflow: hidden;
}

header p {
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: 300;
}

.portrait {
    width: 600px;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.margin-220 {
    margin: 220px;
}

/* Terminal : https://codepen.io/Tbgse/pen/dYaJyJ START */

.hidden {
    opacity:0;
}

.console-container {
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: 300;
    display:block;
    color:black;
}

.console-underscore {
    display:inline-block;
    position:relative;
}

/* Terminal END */

/* about me START */

#about-me {
    padding: 100px 0;
}

.about-me-title h2 {
    padding-top: 35px;
    /* text-transform: uppercase; */
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 700;
}

.about-me-title p {
    padding-top: 20px;
    font-family: 'Volkhov', serif;
    font-style: italic;
}

#about-me p {
    font-size: 18px;
    line-height: 2;
}

#about-me img {
    vertical-align: middle;
    width: 100%;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* about me END */

/* section-title START */

.section-title h2 {
    padding-bottom: 35px;
    /* text-transform: uppercase; */
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
}

.section-title h4 {
    padding-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
}


/* section-title END */

/* featured-work START */

#featured-work {
    padding: 100px 0;
}

.featured-img img {
    /* https://css-tricks.com/snippets/css/css-box-shadow/ */
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    width: 460px;    
    margin-bottom: 30px;
}

#featured-work span p {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
}

#featured-work span p:hover {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
}

/* Blur + Gray Scale : https://codepen.io/nxworld/pen/ZYNOBZ START */

.featured-img img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.featured-img img:hover {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

/* Blur + Gray Scale END */

/* featured-work END */

/* my-work START */

#my-work {
    padding: 100px 0;
}

#my-work h4 {
    padding-top: 20px;
    margin-bottom: 20px;
}

#my-work p {
    line-height: 2;
    font-size: 18px;
    word-wrap: break-word;
}

/* my-work END */

/* clients START */

#clients {
    padding: 0;
}

#clients img {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.carousel-inner {
    max-height: 400px;
}

@media (min-width: 1200px) {
    .client-logo {
        padding: 0 15px 0 15px !important; 
    }
}

/* clients END */

/* contact START */

#contact {
    padding: 100px 0;
}

.contact-buttons {
    padding-top: 20px;
}

#contact a {
    color: black;
    text-decoration: none;
}

.email-div {
    margin-bottom: 56px;
}

.email-button h4 {
    margin-top: 20px;
    margin: 0;
}

.email-button {
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
    border-radius: 0;
    border: 3px solid black;
    color: white;
    background-color: black;
    padding: 20px 30px 20px 30px;
    /* https://css-tricks.com/snippets/css/css-box-shadow/ */
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.email-button:hover {
    color: black;
    background-color: white;
    border: 3px white solid;
}

.github-div {
    margin-bottom: 36px;
}

.github img {
    height: 60px;
    width: 60px;
}

.resume-button {
    padding-bottom: 5px;
    border-bottom: 3px black dashed;
}

.resume-h4 {
    padding: 23px 0 20px 0;
    overflow: hidden;
}

/* contact END */

/* footer START */

footer {
    padding: 100px 0;
}

footer img {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* footer END */