@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

header {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}

header h1 {
    font-weight: 400;
    font-size: 47px;
    letter-spacing: 5px;
    padding-bottom: 45px;
    text-transform: uppercase;
    margin-top: 20px;
}

header p {
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: 300;
}

.portrait {
    width: 600px;
}

.margin-220 {
    margin: 220px;
}

#about-me {
    padding: 100px 0;
}

#about-me h2 {
    padding-top: 35px;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 700;
}

#about-me .about-me-title p {
    padding-top: 20px;
    font-family: 'Volkhov', serif;
    font-style: italic;
}

#about-me p {
    font-size: 18px;
}

#about-me img {
    vertical-align: middle;
    width: 100%;
}